.exercise-2 {
    border: 5px solid gray;
}

.exercise-2__video {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}

.exercise-2__video iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
