services:
  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/db/init.sql:/docker-entrypoint-initdb.d/01-init.sql:ro
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp
      MYSQL_PASSWORD: wp
      MYSQL_ROOT_PASSWORD: root

  wordpress:
    image: wordpress:php8.2-fpm
    depends_on:
      - db
    volumes:
      - ./wordpress:/var/www/html
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wp
      WORDPRESS_DB_PASSWORD: wp
      WORDPRESS_DB_NAME: 
      WORDPRESS_DEBUG: 1
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_DEBUG', true);
        define('WP_DEBUG_LOG', true);
        define('WP_DEBUG_DISPLAY', true);
        error_reporting(E_ALL);
        ini_set('display_errors', 1);

  nginx:
      image: nginx:alpine
      ports:
        - "8080:80"
      volumes:
        - ./wordpress:/var/www/html
        - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      depends_on:
        - wordpress


volumes:
  db_data:
